@font-face
  font-family 'Systopie'
  src url('/fonts/systopie_regular-webfont.woff2') format('woff2'),
      url('/fonts/systopie_regular-webfont.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Proxima Nova'
  src url('/fonts/ProximaNova-Regular.eot')
  src local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ProximaNova-Regular.woff') format('woff'),
    url('/fonts/ProximaNova-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Proxima Nova'
	src url('/fonts/ProximaNova-Bold.eot')
	src local('Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/ProximaNova-Bold.woff') format('woff'),
		url('/fonts/ProximaNova-Bold.ttf') format('truetype')
	font-weight bold
	font-style normal
