$breakpoints = {
  'xs' :  0,
  'sm' : 544px,
  'md' : 768px,
  'lg' : 940px
}
$columns = 12

$font-default =  'Open Sans', sans-serif

$color-medium-slate-blue = #4186f6
$color-white = #fff
$color-gray = #8f8f8f
$color-dark-jungle-green = #272727
$color-bleu-de-france = #478dff
