$breakpoints = {
  'xs' :  0,
  'sm' : 544px,
  'md' : 768px,
  'lg' : 940px
}
$columns = 12

$font-default =  'Open Sans', sans-serif
$font-pt-sans =  'PT Sans', sans-serif
$font-systopie =  'Systopie', sans-serif
$font-proxima-nova =  'Proxima Nova', sans-serif
$font-fira = 'Fira Sans', sans-serif

$color-medium-slate-blue = #4186f6
$color-white = #fff
$color-gray = #8f8f8f
$color-yellow = #ffd800
$color-dark-jungle-green = #202020
$color-taupe = #363636
$color-taupe-gray = #898989
$color-blue-de-france = #478dff
$color-cornflower-blue = #6f80fa
$color-dark-midnight-blue = #002e7a
$color-munsell = #f0f5f8
$color-rifle-green = #3d3d3d
$color-oxford-blue = #10213c
$color-dim-gray = #636363
$color-lavender-mist = #d5dff1
$color-outer-space = #444
$color-pastel-gray = #cacaca
$color-cadet = #55646d
$color-line = #d3e0f4
