.ui-button
  border 0
  outline 0
  background transparent
  line-height 1
  text-decoration none
  display inline-block
  transition color .17s ease-in-out, border-color .17s ease-in-out, background-color .17s ease-in-out
  cursor pointer

  &--default
    font-size 16px
    text-align center
    line-height 54px
    text-transform uppercase
    border-radius 28px
    padding 0 36px
    font-weight bold
    font-family $font-default

  &--yellow
    background-color $color-yellow
    box-shadow 2px 3px 12px 0 rgba(0, 0, 0, .15)
    color $color-oxford-blue

  &--blue
    color $color-white
    background $color-blue-de-france
