.ui-heading
  font-family $font-proxima-nova

  &--lvl2
    font-size 30px
    line-height 54px
    font-weight bold
    text-transform uppercase
    letter-spacing 0.1em

  &--lvl3
    font-size 24px
    line-height 36px

  &--default
    color $color-rifle-green

  &--white
    color $color-white
