// Normalize Styles
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/animate.css/animate.css';
@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.css';
@import '../../node_modules/owl.carousel/dist/assets/owl.theme.default.css';

@import '_fonts';
@import '_variable';
@import 'heading';
@import 'button';

// Components
@import 'grid/mixins/helpers'
@import 'grid/mixins/grid-framework'
@import 'grid/mixins/bem'
@import 'grid/components/col'
@import 'grid/components/grid'
@import 'grid/components/row'
@import 'grid/components/text'

init($breakpoints, $columns)

// Box sizing partial styles
// Apply a natural box layout model to all elements
*,
*:before,
*:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

.ui-preloader
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color white
  z-index 99999
  height 100%
  width 100%
  overflow hidden !important

  &__status
    width 160px
    height 160px
    position absolute
    left 50%
    top 50%
    background-image url('/images/ripple.gif')
    background-repeat no-repeat
    background-position center
    background-size cover
    margin -80px 0 0 -80px

// Styling on warning for users on IE7 or below
.browsehappy
  text-align center
  margin 0
  background #fff8e2
  color black
  padding 0.5em 0

.ui-header
  padding 16px 0
  position fixed
  width 100%
  top 0
  right 0
  left 0
  z-index 10
  transition padding .17s ease-in-out

  @media(min-width: 768px)
    padding 44px 0

  &__hamburger
    display block
    color white
    font-size: 10px
    padding 10px 7px
    border-radius 6px
    border 1px solid white
    transition transform .17s ease-in-out

    &--open
      transform rotate(90deg)

    &-line
      width 26px
      height 4px
      background white
      border-radius 2px

      & + &
        margin-top 4px

    @media(min-width: 768px)
      display none

  &--fixed
    padding 16px 0
    background $color-medium-slate-blue

  a
    color $color-white
    text-decoration none

  &__logo
    font-size 30px
    font-family $font-systopie

  &__trial
    font-size 14px
    font-family $font-proxima-nova
    font-weight bold
    text-transform uppercase
    display none

    @media(min-width: 768px)
      display block

.ui-menu
  display flex
  font-size 24px
  font-family $font-default
  display none

  @media(min-width: 768px)
    display flex
    font-size 14px

  &__item
    text-align center

    @media(min-width: 768px)
      text-align left

    & + &
      padding-top 38px

      @media(min-width: 768px)
        padding-left 38px
        padding-top 0

  &--open
    position fixed
    left 0
    height 100%
    background $color-medium-slate-blue
    width 100%
    z-index 10
    top 0
    display block

.ui-footer
  padding 30px 0 80px
  color $color-gray
  font-family $font-default
  font-size 12px
  line-height 18px

  &__logo
    a
      color $color-dark-jungle-green
      font-size 24px
      font-family 'Systopie'
      line-height 18px
      text-decoration none

    span
      color $color-blue-de-france

  &__copyright
    padding-top 18px

  &__info
    padding 30px 0
    a
      color $color-blue-de-france

    @media(min-width: 768px)
      padding 0

.ui-home-main
  background $color-medium-slate-blue
  padding 120px 0 50px
  position relative

  @media(min-width: 768px)
    padding 170px 0 50px

  @media(min-width: 940px)
    padding 170px 0 17px

    &:after
      position absolute
      content url('/images/main-stat.png')
      bottom 0
      right 25%
      font-size 0
      margin-left -222px

    &:before
      position absolute
      content ''
      background url("/images/main-bg.png") no-repeat right bottom
      background-size cover
      top 0
      bottom -75px
      left 0
      font-size 0
      width 65%
      z-index 1

  &__container
    position relative
    z-index 2

  &__heading
    color white
    font-family $font-proxima-nova
    font-weight bold
    font-size 34px
    line-height 54px

  &__text
    font-size 16px
    color white
    line-height 24px
    font-family $font-default
    margin-top 50px

  &__button
    display flex
    justify-content center
    margin-top 60px

    @media(min-width: 768px)
      justify-content flex-start

.ui-home-advantages
  padding 60px 0

  @media(min-width: 940px)
    padding 200px 0 90px

.ui-home-advantage
  &__heading
    font-family $font-proxima-nova
    font-size 30px
    line-height 45px
    color black
    position relative
    padding-bottom 20px

    &:before
      content ''
      width 60px
      left 0
      bottom 0
      height 2px
      background $color-blue-de-france
      position absolute

  &__text
    font-family $font-default
    font-size 14px
    color $color-taupe
    text-align left
    line-height 21px
    margin-top 20px

  &__image
    font-size 0
    text-align center

    img
      max-width 100%

.ui-home-advantage + .ui-home-advantage
  padding-top 60px

  @media(min-width: 940px)
    padding-top 110px

.ui-home-info
  background $color-munsell
  padding 65px 0 55px

  @media(min-width: 940px)
    &__content
      background url('/images/info-bg.png') 50% 50% no-repeat
      padding 40px 0
      background-size contain

  &__button
    padding-top 30px

  &__item
    margin-top 50px

    @media(min-width: 940px)
      margin-top 0

    &--flex
      display flex
      justify-content center

      @media(min-width: 768px)
        justify-content flex-start

    &--result
      @media(min-width: 940px)
        padding-top 138px

    &--stat
      @media(min-width: 940px)
        margin-left -70px
        padding-top 64px

        .ui-home-info__item-icon
          margin-right 13px

  &__item-content
    flex none
    padding-left 13px

    @media(min-width: 768px)
      flex 1


  &__item-value
    font-family $font-fira
    font-weight 300
    font-size 72px
    color $color-blue-de-france
    line-height 24px

    span
      font-size 30px

  &__item-value + &__item-title
    padding-top 18px

  &__item-title
    font-family $font-default
    font-size 14px
    color $color-blue-de-france
    line-height 24px
    text-transform uppercase
    font-weight bold

  &__item-title + &__item-text
    padding-top 18px

  &__item-title + &__item-value
    padding-top 28px

  &__item-text
    font-family $font-default
    font-size 16px
    color $color-dark-jungle-green
    line-height 24px

  &__item-text + &__item-title
    padding-top 18px

  &__item-text + &__item-footer
    padding-top 18px

  &__item-footer
    font-family $font-default
    color $color-blue-de-france
    font-size 30px
    line-height 24px

.ui-home-work
  padding 65px 0 55px

  &__item
    position relative
    padding 0 0 50px

    &:before
      content ''
      width 60px
      left calc(50% - 30px)
      bottom 0
      height 2px
      position absolute
      background $color-blue-de-france

    @media(min-width: 940px)
      padding 110px 0 70px


  &__text
    padding 40px 0

.ui-home-work-item
  font-family $font-default
  line-height 24px
  position relative
  margin-top 50px

  @media(min-width: 940px)
    margin-top 0

  &__icon
    height 70px
    display flex
    justify-content center
    align-items center

  &__icon + &__description
    padding-top 26px

  &__description
    font-family $font-default
    color $color-dark-jungle-green

  &__time
    font-size 14px
    color $color-dim-gray

.ui-home-work-item + .ui-home-work-item:before
  content url('/images/arrow-right.png')
  position absolute
  left -10px
  top 26px

.ui-home-work-text
  font-family $font-default
  font-size 16px
  color $color-dark-jungle-green
  line-height 24px

.ui-home-work-text + .ui-home-work-text
  padding-top 40px

.ui-home-rates
  background $color-blue-de-france
  padding 65px 0 55px

  &__item
    padding 60px 0

.ui-price-cart
  position relative
  padding 32px
  border-bottom 1px solid #d5dff1

  @media(min-width: 940px)
    border-bottom 0

  &:after
    content ''
    top 0
    left 0
    width 100%
    height 100%
    background $color-white
    position absolute
    border-left 1px solid $color-lavender-mist

  &--first
    border-bottom 1px solid $color-lavender-mist

    @media(min-width: 940px)
      border-bottom 0
      border-top-left-radius 6px
      border-bottom-left-radius 6px
      &:after
        border-top-left-radius 6px
        border-bottom-left-radius 6px
        border-left 0

  &--last
    border-bottom 1px solid $color-lavender-mist

    @media(min-width: 940px)
      border-bottom 0
      border-top-right-radius 6px
      border-bottom-right-radius 6px
      &:after
        border-top-right-radius 6px
        border-bottom-right-radius 6px
        border-left 0

  & > *
    z-index 5
    position relative

  &--active
    border-bottom 1px solid $color-lavender-mist
    @media(min-width: 940px)
      border-top 0

      .ui-button--white
        background $color-blue-de-france
        color $color-white

      &:after
        border-radius 6px
        top -14px
        bottom -14px
        height calc(100% + 28px)
        box-shadow 0 0 12px 0 rgba(0, 0, 0, .15)
        background-color #fff
        z-index 1
        border-color transparent

  &__header
    font-family $font-proxima-nova
    color $color-outer-space
    font-size 14px
    line-height 54px
    text-transform uppercase
    font-weight bold
    position relative

    &:before
      content ''
      width 30px
      left calc(50% - 15px)
      bottom 0
      height 2px
      background $color-blue-de-france
      position absolute

  &__header + &__price
    padding-top 26px

  &__price
    display flex
    justify-content center
    align-items center
    font-family $font-default
    font-size 44px
    line-height 54px
    color $color-blue-de-france
    font-weight bold
    padding-bottom 30px

    span
      font-size 12px
      line-height 18px
      text-transform uppercase
      padding-left 12px

  &__function
    text-align left
    font-family $font-pt-sans
    padding-bottom 25px
    display flex
    align-items flex-start
    font-size 16px
    line-height 24px
    color $color-dark-jungle-green
    margin 0 auto
    max-width 120px

    &:before
      content ''
      width 30px
      left calc(50% - 15px)
      bottom 0
      height 1px
      background $color-pastel-gray
      position absolute

    img
      flex-basis 15px
      margin-top 5px

    span
      padding-left 10px
      flex 1

  &__function + &__subscribers
    padding-top 18px

  &__subscribers
    font-family $font-pt-sans
    font-size 16px
    line-height 24px
    color $color-dark-jungle-green

  &__subscribers + &__button
    padding-top 28px

.ui-home-numbers
  padding 65px 0 55px

  &__item
    padding 0px 0 50px

    @media(min-width: 940px)
      padding 150px 0 90px

.ui-home-numbers-item
  padding-top 50px

  @media(min-width: 940px)
    padding-top 0

  &__value
    font-family $font-fira
    font-size 72px
    color $color-blue-de-france
    line-height 24px

  &__value + &__title
    padding-top 26px

  &__title
    font-family $font-default
    font-size 14px
    color $color-blue-de-france
    line-height 24px
    text-transform uppercase
    font-weight bold

  &__title + &__text
    padding-top 16px

  &__text
    font-family $font-default
    font-size 16px
    color $color-dark-jungle-green
    line-height 24px

.ui-home-free
  background $color-munsell
  padding 65px 0 55px

  &__subheading
    font-family $font-default
    font-weight 600
    font-size 18px
    color $color-dark-jungle-green
    line-height 26px
    padding-top 50px
    text-transform uppercase

  &__time
    padding-top 36px
    font-family $font-default
    font-weight 300
    font-size 56px
    color $color-blue-de-france

    span
      display block
      font-size 72px

  &__text
    padding-top 36px
    font-family $font-default
    font-size 16px
    color $color-dark-jungle-green
    line-height 24px

  &__button
    padding-top 50px

  &__note
    padding-top 55px
    font-family $font-default
    font-size 14px
    color $color-taupe-gray
    line-height 18px

.ui-home-results
  padding 65px 0 55px
  background $color-munsell

  &__item
    padding 0 0 24px

    @media(min-width: 768px)
      padding 24px 0 34px

    @media(min-width: 940px)
      padding 64px 0 54px

.ui-home-review
  background $color-white
  border-radius 5px
  padding 35px 30px 40px
  margin-top 30px

  @media(min-width: 768px)
    margin-top 0

  @media(min-width: 940px)
    padding 55px 60px 60px

  &__user
    display flex
    align-items center

  &__user-image
    width 81px
    height 81px
    border-radius 50%

  &__user-content
    padding-left 20px

  &__user-name
    font-family $font-proxima-nova
    color $color-dark-jungle-green
    font-size 20px
    line-height 24px

  &__user-company
    font-family $font-default
    font-size 12px
    color $color-taupe-gray
    line-height 16px

    @media(min-width: 940px)
      line-height 24px

  &__user + &__stats
    padding-top 40px

  &__stats
    display flex
    font-family $font-fira

  &__stats-item + &__stats-item
    padding-left 50px

  &__stats-value
    font-size 36px
    color $color-blue-de-france
    line-height 24px

    span
      font-size 24px

  &__stats-value + &__stats-text
    padding-top 10px

  &__stats-text
    font-family $font-default
    font-size 12px
    color $color-blue-de-france
    line-height 24px
    text-transform uppercase
    font-weight bold

  &__stats + &__text
    padding-top 30px

  &__text
    font-family $font-default
    font-size 16px
    color $color-dark-jungle-green
    line-height 24px

.ui-home-confidence
  margin 65px 0 100px

  &__item
    @media(min-width: 940px)
      margin-top 120px

.ui-home-confidence-item
  margin-top 50px

  @media(min-width: 940px)
    margin-top 0

  img
    width auto !important
    display inline-block !important
    max-width 100%

.ui-home-trial
  background $color-blue-de-france
  padding 65px 0 70px

  &__header
    font-family $font-default

  &__button
    padding-top 75px

.ui-capabilities
  background $color-medium-slate-blue
  padding 170px 0 80px
  position relative

  &:before
    position absolute
    background url("/images/capabilities-bg.png") no-repeat right bottom
    background-size cover
    top 0
    left 0
    bottom 0
    font-size 0
    width 65%
    z-index 1

    @media(min-width: 940px)
      content ''

  &__header
    position relative
    z-index 1

  &__text
    font-family $font-default
    font-size 20px
    color $color-white
    line-height 30px
    padding-top 30px
    position relative
    z-index 1

.ui-capabilities-item
  background $color-munsell
  padding 80px 0 110px

.ui-capability-cart
  margin-top 50px
  padding 0 20px

  @media(min-width: 940px)
    margin-top 110px

  &__icon
    height 70px
    display flex
    align-items center
    justify-content center

  &__icon + &__title
    padding-top 30px

  &__title
    font-family $font-proxima-nova
    font-size 16px
    color $color-rifle-green
    letter-spacing 0.05em
    line-height 24px
    text-transform uppercase
    font-weight bold

  &__title + &__text
    padding-top 30px

  &__text
    font-family $font-default
    font-size 16px
    color $color-cadet
    line-height 24px

.ui-capabilities-work
  padding 65px 0 0

  &__item
    position relative
    padding 0 0 50px

    &:before
      content ''
      width 60px
      left calc(50% - 30px)
      bottom 0
      height 2px
      background $color-blue-de-france
      position absolute

    @media(min-width: 940px)
      padding 110px 0 70px

  &__item + &__button
    padding-top 64px

  &__button + &__line
    padding-top 50px
    border-bottom 1px solid $color-line

.ui-capabilities-work-item
  font-family $font-default
  line-height 24px
  position relative
  margin-top 50px

  @media(min-width: 940px)
    margin-top 0

  &__icon
    height 70px
    display flex
    justify-content center
    align-items center

  &__icon + &__description
    padding-top 26px

  &__description
    font-family $font-default
    color $color-dark-jungle-green

  &__time
    font-size 14px
    color $color-dim-gray

.ui-capabilities-work-item + .ui-capabilities-work-item:before
  content url('/images/arrow-right.png')
  position absolute
  left -10px
  top 26px

.owl-theme-blue
  .owl-stage
    display flex
    align-items center

  .owl-nav
    .owl-prev
    .owl-next
      position absolute
      background-color $color-blue-de-france
      background-repeat no-repeat
      background-position 50%
      top 50%
      margin -32px 0 0 0
      height 24px
      width 24px
      font-size 0

      &:hover
        background-color $color-blue-de-france
        background-repeat no-repeat
        background-position 50%

    .owl-prev
      left -15px
      border-radius 0
      background-image url('/images/icons/slider-arrow-prev.svg')

      &:hover
        background-image url('/images/icons/slider-arrow-prev.svg')

    .owl-next
      right -15px
      border-radius 0
      background-image url('/images/icons/slider-arrow-next.svg')

      &:hover
        background-image url('/images/icons/slider-arrow-next.svg')

  .owl-dots
    .owl-dot
      span
        background $color-blue-de-france
        opacity .6

      &.active
      &:hover
        span
          background $color-medium-slate-blue
          opacity 1
