extends _layouts/base

include _modules/link/link

block content
  .ui-home-main
    .l-grid.l-grid--container.ui-home-main__container
      .l-row.l-row--xs-middle
        .l-col.l-col--xs-12.l-col--md-8
          .ui-home-main__heading Создайте свою первую прибыльную авторассылку в социальных сетях за 6 минут
          .ui-home-main__text SocialSend это сервис, который позволяет быстро и просто создавать рассылки через социальные сети. И с их помощью находить новую аудиторию и конвертировать ее в клиентов.
          .ui-home-main__button
            .ui-button.ui-button--default.ui-button--yellow Попробовать бесплатно
  .ui-home-advantages
    .l-grid.l-grid--container
      .l-row.l-row--xs-middle.ui-home-advantage
        .l-col.l-col--xs-12.l-col--md-6
          .ui-home-advantage__heading Отправляйте сообщения правильным путем
          .ui-home-advantage__text Массовая отправка e-mail теряет свою эффективность каждый месяц. Сотни и тысячи писем остаются неоткрытыми в почтовых ящиках ваших клиентов ежедневно. Поэтому SocialSend отправляет сообщения для ваших клиентов туда, где они их ВСЕГДА читают: в социальные сети
        .l-col.l-col--xs-12.l-col--md-6
          .ui-home-advantage__image
            img(src="/images/advantage-1.png", alt="")
      .l-row.l-row--xs-middle.ui-home-advantage
        .l-col.l-col--xs-12.l-col--md-6
          .ui-home-advantage__image
            img(src="/images/advantage-2.png", alt="")
        .l-col.l-col--xs-12.l-col--md-6
          .ui-home-advantage__heading Забудьте про СПАМ
          .ui-home-advantage__text Вы можете отправлять через SocialSend 100 писем в день или 100млн. И каждое сообщение 100% дойдет до получателя. Попасть в СПАМ используя социальные рассылки невозможно.
      .l-row.l-row--xs-middle.ui-home-advantage
        .l-col.l-col--xs-12.l-col--md-6
          .ui-home-advantage__heading Автоматизируйте вашу рассылку
          .ui-home-advantage__text Хотите посылать письма автоматической серией? Нет ничего проще! Хотите отправлять письма только мужчинам до 40 лет из Ижевска? Вопрос решается в два клика. Хотите сделать бонус для тех, кто регулярно открывает вашу рассылку? 2 минуты вашего времени и вашу рассылку получат только самые активные читатели.
        .l-col.l-col--xs-12.l-col--md-6
          .ui-home-advantage__image
            img(src="/images/advantage-3.png", alt="")
      .l-row.l-row--xs-middle.ui-home-advantage
        .l-col.l-col--xs-12.l-col--md-6
          .ui-home-advantage__image
            img(src="/images/advantage-4.png", alt="")
        .l-col.l-col--xs-12.l-col--md-6
          .ui-home-advantage__heading Собирайте подписчиков в вашу рассылку легче и дешевле
          .ui-home-advantage__text В отличие от e-mail маркетинга, в SocialSend нет никаких подтверждений подписки и других сложностей. Разместите кнопку подписки на любой странице вашего сайта или в любой социальной сети, и получайте лавину лояльных и платежеспособных подписчиков.
  .ui-home-info
    .l-grid.l-grid--container
      .l-row.l-row--xs-middle
        .l-col.l-col--xs-12.h-text--xs-center
          .ui-home-info__heading.ui-heading.ui-heading--lvl2.ui-heading--default
            | Открываемость вашей рассылки от 60% миф? 
            br 
            | Нет, это реальность!
      .l-row.l-row--lg-space-between.ui-home-info__content
        .l-col.l-col--xs-12.l-col--lg-4
          .ui-home-info__item.ui-home-info__item--client
            .ui-home-info__item-value 90
              span %
            .ui-home-info__item-title наших клиентов
            .ui-home-info__item-text получают такую цифру, просто следуя нашим простым инструкциям.
          .ui-home-info__item.ui-home-info__item--flex.ui-home-info__item--result
            .ui-home-info__item-icon 
              img(src="/images/result-icon.png", alt="")
            .ui-home-info__item-content
              .ui-home-info__item-text 
                | То есть из 100 человек,
                br
                | ваше сообщение
                br
                | будет читать 80-90.
              .ui-home-info__item-footer Круто же, да?!
        .l-col.l-col--xs-12.l-col--lg-4.l-col--lg-align-bottom
          .ui-home-info__item.ui-home-info__item--open
            .ui-home-info__item-text Если у вас есть опыт ведения рассылок, то вы можете раскрутить
            .ui-home-info__item-title открываемость до
            .ui-home-info__item-value 80-90
              span %
          .ui-home-info__item.ui-home-info__item--flex.ui-home-info__item--stat
            .ui-home-info__item-icon 
              img(src="/images/stat-icon.png", alt="")
            .ui-home-info__item-content
              .ui-home-info__item-text 
                | Забудьте открываемость
                br
                | в 7-10% как страшный сон!
      .l-row.ui-home-info__button
        .l-col.l-col--xs-12.h-text--xs-center
          .ui-button.ui-button--default.ui-button--blue Попробовать бесплатно
  .ui-home-work
    .l-grid.l-grid--container
      .l-row
        .l-col.l-col--xs-12.h-text--xs-center
          .ui-heading.ui-heading--lvl2.ui-heading--default Как работает SocialSend?
      .l-row.l-row--xs-middle.ui-home-work__item
        .l-col.l-col--xs-3.h-text--xs-center.ui-home-work-item
          .ui-home-work-item__icon
            img(src="/images/work-1.png", alt="")
          .ui-home-work-item__description Проходите простую регистрацию
          .ui-home-work-item__time (1 минута)
        .l-col.l-col--xs-3.h-text--xs-center.ui-home-work-item
          .ui-home-work-item__icon
            img(src="/images/work-2.png", alt="")
          .ui-home-work-item__description Создаете свою первую рассылку
          .ui-home-work-item__time (4 минуты)
        .l-col.l-col--xs-3.h-text--xs-center.ui-home-work-item
          .ui-home-work-item__icon
            img(src="/images/work-3.png", alt="")
          .ui-home-work-item__description 
            | Создаете кнопку 
            br
            | или форму подписки
          .ui-home-work-item__time (1 минута)
        .l-col.l-col--xs-3.h-text--xs-center.ui-home-work-item
          .ui-home-work-item__icon
            img(src="/images/work-4.png", alt="")
          .ui-home-work-item__description 
            | Размещаете ее
            br
            | на вашем сайте
          .ui-home-work-item__time (1 минута)
      .l-row.ui-home-work__text 
        .l-col.l-col--xs-12.h-text--xs-center.ui-home-work-text 
          | Вот и все! После этого вы сможете собирать подписчиков прямо в социальные сети 
          br 
          | и превращать их в лояльных клиентов!
        .l-col.l-col--xs-12.h-text--xs-center.ui-home-work-text 
          | Кликните по кнопке ниже, чтобы получите тестовую социальную рассылку и понять, 
          br 
          | как все работает окончательно!
      .l-row.ui-home-work__button
        .l-col.l-col--xs-12.h-text--xs-center
          .ui-button.ui-button--default.ui-button--blue Попробовать авторассылку
  .ui-home-rates
    .l-grid.l-grid--container
      .l-row
        .l-col.l-col--xs-12.h-text--xs-center
          .ui-heading.ui-heading--lvl2.ui-heading--white Тарифные планы
      .l-row.ui-home-rates__item
        .l-col.l-col--xs-12.l-col--sm-6.l-col--md-3.l-col--no-gutters.h-text--xs-center
          .ui-price-cart.ui-price-cart--first
            .ui-price-cart__header Киндер
            .ui-price-cart__price
              | 990
              span 
                | руб.
                br
                | мес.
            .ui-price-cart__function 
              img(src="/images/check.png", alt="")
              span Доступны все функции
            .ui-price-cart__subscribers 
              | до 990
              br
              | подписчиков
            .ui-price-cart__button 
              .ui-button.ui-button--xs.ui-button--white оплатить
        .l-col.l-col--xs-12.l-col--sm-6.l-col--md-3.l-col--no-gutters.h-text--xs-center
          .ui-price-cart
            .ui-price-cart__header базовый
            .ui-price-cart__price
              | 2 990
              span 
                | руб.
                br
                | мес.
            .ui-price-cart__function 
              img(src="/images/check.png", alt="")
              span Доступны все функции
            .ui-price-cart__subscribers 
              | до 5000 
              br
              | подписчиков
            .ui-price-cart__button 
              .ui-button.ui-button--xs.ui-button--white оплатить
        .l-col.l-col--xs-12.l-col--sm-6.l-col--md-3.l-col--no-gutters.h-text--xs-center
          .ui-price-cart.ui-price-cart--active
            .ui-price-cart__header солидный
            .ui-price-cart__price
              | 4 990
              span 
                | руб.
                br
                | мес.
            .ui-price-cart__function 
              img(src="/images/check.png", alt="")
              span Доступны все функции
            .ui-price-cart__subscribers 
              | до 20 000 
              br
              | подписчиков
            .ui-price-cart__button 
              .ui-button.ui-button--xs.ui-button--white оплатить
        .l-col.l-col--xs-12.l-col--sm-6.l-col--md-3.l-col--no-gutters.h-text--xs-center
          .ui-price-cart.ui-price-cart--last
            .ui-price-cart__header всё и сразу
            .ui-price-cart__price
              | 5 990
              span 
                | руб.
                br
                | мес.
            .ui-price-cart__function 
              img(src="/images/check.png", alt="")
              span Доступны все функции
            .ui-price-cart__subscribers Неограничено подписчиков
            .ui-price-cart__button 
              .ui-button.ui-button--xs.ui-button--white оплатить
      .l-row
        .l-col.l-col--xs-12.h-text--xs-center
          .ui-home-rates__button
            .ui-button.ui-button--default.ui-button--yellow Попробовать за 1 рубль
  .ui-home-numbers
    .l-grid.l-grid--container
      .l-row
        .l-col.l-col--xs-12.h-text--xs-center
          .ui-heading.ui-heading--lvl2.ui-heading--default Нашу технологию создания прибыльных социальных рассылок используют уже сотни предпринимателей со всего мира:
        .l-row.ui-home-numbers__item
          .l-col.l-col--xs-12.l-col--lg-4.h-text--xs-center
            .ui-home-numbers-item
              .ui-home-numbers-item__value 1 121
              .ui-home-numbers-item__title пользователей
              .ui-home-numbers-item__text 
                | продвигают свой бизнес 
                br
                | вконтакте
          .l-col.l-col--xs-12.l-col--lg-4.h-text--xs-center
            .ui-home-numbers-item__value 2 млн
            .ui-home-numbers-item__title писем
            .ui-home-numbers-item__text 
              | Отправлено нашими 
              br
              | клиентами
          .l-col.l-col--xs-12.l-col--lg-4.h-text--xs-center
            .ui-home-numbers-item__value 10 млн
            .ui-home-numbers-item__title рублей
            .ui-home-numbers-item__text 
              | Заработано авторами 
              br
              | рассылок
        .l-row.ui-home-numbers__button
          .l-col.l-col--xs-12.h-text--xs-center
            .ui-button.ui-button--default.ui-button--blue Попробовать бесплатно
